In [1]:
# Introduction of List Data Structure
"""
List are ordered, mutable and contain elements of different data types
"""

'\nList are ordered, mutable and contain elements of different data types\n'

In [2]:
# Creating a list
my_list = [1, "Apple", 3.14, True]
print(type(my_list))
print(my_list)

<class 'list'>
[1, 'Apple', 3.14, True]

In [3]:
# Accessing an elements of list
fruits = ["Apple", "Bnana", "Cherry", "Mango"]
print(fruits[0])
print(fruits[2])
print(fruits[-1])

Apple
Cherry
Mango

In [4]:
print(fruits[1:3])
print(fruits[:2])
print(fruits[2:])
print(fruits[:])
print(fruits[-1:-3])
print(fruits[-1])
print(fruits[-3:-1])

['Bnana', 'Cherry']
['Apple', 'Bnana']
['Cherry', 'Mango']
['Apple', 'Bnana', 'Cherry', 'Mango']
[]
Mango
['Bnana', 'Cherry']

In [5]:
# Modifying the List Elements
fruits[1] = "Kiwi"
print(fruits)

['Apple', 'Kiwi', 'Cherry', 'Mango']

In [6]:
# List Methods, Append() method will add the elment to the end of list
fruits.append("Orange")
print(fruits)

['Apple', 'Kiwi', 'Cherry', 'Mango', 'Orange']

In [7]:
# Insert() method will add the element on the particular index of list
fruits.insert(1, "Watermelon")
print(fruits)

['Apple', 'Watermelon', 'Kiwi', 'Cherry', 'Mango', 'Orange']

In [8]:
# Remove(), it'll remove the first occurance of an item
fruits.remove("Orange")
print(fruits)

['Apple', 'Watermelon', 'Kiwi', 'Cherry', 'Mango']

In [9]:
# POP() remove and return the last
popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

Mango
['Apple', 'Watermelon', 'Kiwi', 'Cherry']

In [10]:
fruits.index('Kiwi')

2

In [11]:
fruits.sort()

In [12]:
fruits

['Apple', 'Cherry', 'Kiwi', 'Watermelon']

In [13]:
fruits.reverse()

In [14]:
fruits

['Watermelon', 'Kiwi', 'Cherry', 'Apple']

In [15]:
# Slicing List
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[2:7])
print(numbers[:5])
print(numbers[::3])
print(numbers[5:])
print(numbers[:])

[3, 4, 5, 6, 7]
[1, 2, 3, 4, 5]
[1, 4, 7, 10]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
# Iterating the list
for numbers in numbers:
  print(numbers)

1
2
3
4
5
6
7
8
9
10

In [17]:
# Iterating the numbers along with index by using enumerate()
numbers = [10, 20, 30, 40, 50]

for index, number in enumerate(numbers):
    print(index, number)

0 10
1 20
2 30
3 40
4 50

**Introduction to Tuples**

Tuples are ordered collection of items that are immutables, similar to list.

In [18]:
# Creating a Tuple
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [19]:
mixed_tuple = (1, "Hello", 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [21]:
# Accessing Tuple Elements
print(mixed_tuple[1])
print(mixed_tuple[-1])
print(mixed_tuple[1:3])
print(mixed_tuple[::-1])

Hello
True
('Hello', 3.14)
(True, 3.14, 'Hello', 1)

In [22]:
from typing_extensions import Concatenate
# Concatenation of tuple
tuple1 = (1,2,3)
tuple2 = (4,5,6)
Concatenate_tuple = tuple1 + tuple2
print(Concatenate_tuple)

(1, 2, 3, 4, 5, 6)

In [23]:
Concatenate_tuple*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [24]:
# Tuple Methods
print(mixed_tuple.count(1))
print(mixed_tuple.index(3.14))

2
2

In [25]:
# Pack Tuple
packed_tuple = 1,2,3,4,5
print(packed_tuple)

(1, 2, 3, 4, 5)

In [29]:
packed_tuple = (10, 20, 30)
a, b, c = packed_tuple
print(a)
print(b)
print(c)

10
20
30

In [31]:
# Nested Tuple
nested_tuple = ((1,2,3), (4,5,6), (7,8,9))
print(nested_tuple[1][2])
print(nested_tuple[0][:2])

6
(1, 2)

In [32]:
# Iterating over nested tuple
for item in nested_tuple:
  print(item)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

**Sets**

Sets are built in data type in python used to store unique items, it's performing mathematical operations like union, intersects, difference etc.

In [35]:
# Sets are unordered, unchangeable and it's store only unique values

my_set = {1,2,3,4,5}
print(my_set)

# Convert list and tuple in sets
my_list = [1, "True", 3.13]
my_set = set(my_list)
print(my_set)

my_tuple = (1, "False", 0.9)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}
{1, 3.13, 'True'}
{0.9, 1, 'False'}

In [36]:
# Access the sets by using loop
my_set = {1,2,3,4,5}
for item in my_set:
  print(item)

1
2
3
4
5

In [59]:
# Set Methods
my_set = {1,2,3,4,5}
my_set.add(7)
print(my_set)

my_set.remove(3)
print(my_set)

my_set.clear()
print(my_set)

# union and intersection methods
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 7}
{1, 2, 4, 5, 7}
set()
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

**Dictionaries**

Dictionaries are used to store data values in Key:Pair form, they are unordered, changeable and allow only unique keys.

In [37]:
dic = {
    "name": "Aiman",
    "age": 25,
    "city": "Lahore"
}
print(dic)

{'name': 'Aiman', 'age': 25, 'city': 'Lahore'}

In [41]:
# Access the dictionary value by using it key
print(dic["name"])
print(dic["age"])

# Assign the new value to dictionay key by using assignment operator
dic["age"] = 26
print(dic["age"])

# Adding the new key:value pair in dictionary
dic["Country"] = "Pakistan"
print(dic)

# Adding the new key:value pair in dictionary by using the update() method
dic.update({"Gender": "Female"})
print(dic)

Aiman
26
26
{'name': 'Aiman', 'age': 26, 'city': 'Lahore', 'Country': 'Pakistan'}
{'name': 'Aiman', 'age': 26, 'city': 'Lahore', 'Country': 'Pakistan', 'Gender': 'Female'}

In [46]:
from os import name
# Dictionaries Methods
print(dic.keys())
print(dic.values())
print(dic.items())
print(dic.get("name"))

dict_keys(['name', 'age', 'city', 'Country', 'Gender'])
dict_values(['Aiman', 26, 'Lahore', 'Pakistan', 'Female'])
dict_items([('name', 'Aiman'), ('age', 26), ('city', 'Lahore'), ('Country', 'Pakistan'), ('Gender', 'Female')])
Aiman

In [47]:
# Nested dctionaries
students = {
    "student1":{
        "name": "Aiman",
        "age": 25,
        "city": "Lahore"
    },
    "student2":{
        "name": "Ali",
        "age": 26,
        "city": "Karachi"
    },
    "student3":{
        "name": "Areeb",
        "age": 27,
        "city": "Islamabad"
    }
}

print(students)

# Access items in Nested dictionary
print(students["student1"]["age"])

{'student1': {'name': 'Aiman', 'age': 25, 'city': 'Lahore'}, 'student2': {'name': 'Ali', 'age': 26, 'city': 'Karachi'}, 'student3': {'name': 'Areeb', 'age': 27, 'city': 'Islamabad'}}
25

In [49]:
# Using Loop
for items in students.items():
  print(items)

for key, value in students.items():
  print(key, value)

('student1', {'name': 'Aiman', 'age': 25, 'city': 'Lahore'})
('student2', {'name': 'Ali', 'age': 26, 'city': 'Karachi'})
('student3', {'name': 'Areeb', 'age': 27, 'city': 'Islamabad'})
student1 {'name': 'Aiman', 'age': 25, 'city': 'Lahore'}
student2 {'name': 'Ali', 'age': 26, 'city': 'Karachi'}
student3 {'name': 'Areeb', 'age': 27, 'city': 'Islamabad'}